@page "/"

<div class="d-flex">
    <MSpacer />
    <MButton OnClick="Export">Export</MButton>
</div>

<div class="@Block">
    <div class="@Block.Element("nodes")" style="width: 248px;">
        <MExpansionPanels Multiple Flat @bind-Values="_selectedGroups">
            @foreach (var group in _nodeGroups)
            {
                <MExpansionPanel Value="@group.Key">
                    <MExpansionPanelHeader>@group.Key</MExpansionPanelHeader>
                    <MExpansionPanelContent>
                        @foreach (var node in group)
                        {
                            <DragNode Name="@node.Id"
                                      Label="@node.Name"
                                      Color="@node.Color"
                                      Icon="@node.Icon" />
                        }
                    </MExpansionPanelContent>
                </MExpansionPanel>
            }
        </MExpansionPanels>
    </div>
    <div class="@Block.Element("workspace")"
         style="width: calc(100% - 600px)">
        <MDrawflow OnDrop="@Drop" @ref="_drawflow" />
    </div>
    <div class="@Block.Element("sidebar")" style="width: 352px;">
    </div>
</div>
