@namespace Masa.Workflow.RCL.Pages.Workspace

@page "/{WorkflowId:guid?}"

<div class="mw-flow__header">
    <MSpacer />
    <MButton OnClick="@TestHub">Update mqtt state(TEST)</MButton>
    <MButton Color="primary" OnClick="@Save">i18n.workflow.save</MButton>
    <MButton Color="primary" OnClick="@Publish">i18n.workflow.publish</MButton>
    <MMenu OffsetY>
        <ActivatorContent>
            <MButton Icon @attributes="@context.Attrs">
                <MIcon>mdi-dots-vertical</MIcon>
            </MButton>
        </ActivatorContent>
        <ChildContent>
            <MListItem>
                <MIcon class="mr-4">mdi-history</MIcon>
                <span>i18n.workflow.history</span>
            </MListItem>
            <MListItem OnClick="@OpenImportWorkflowDialog">
                <MIcon class="mr-4">mdi-import</MIcon>
                <span>i18n.workflow.import</span>
            </MListItem>
            <MListItem OnClick="@OpenExportWorkflowDialog">
                <MIcon class="mr-4">mdi-export</MIcon>
                <span>i18n.workflow.export</span>
            </MListItem>
            <MListItem OnClick="@ToggleWorkflow">
                <MIcon class="mr-4">mdi-toggle-switch-off-outline</MIcon>
                <span>i18n.workflow.toggle</span>
            </MListItem>
            <MListItem OnClick="@DeleteWorkflow">
                <MIcon class="mr-4">mdi-delete</MIcon>
                <span>i18n.workflow.delete</span>
            </MListItem>
        </ChildContent>
    </MMenu>
</div>

<div class="mw-flow">
    <div class="mw-flow__nodes" style="width: 248px;">
        <MExpansionPanels Multiple Flat @bind-Values="_selectedGroups">
            @foreach (var group in _nodeGroups)
            {
                <MExpansionPanel Value="@group.Key">
                    <MExpansionPanelHeader>@group.Key</MExpansionPanelHeader>
                    <MExpansionPanelContent>
                        @foreach (var node in group)
                        {
                            <DragNode Name="@node.Type"
                                      Label="@node.Name"
                                      Color="@node.Color"
                                      Icon="@node.Icon" />
                        }
                    </MExpansionPanelContent>
                </MExpansionPanel>
            }
        </MExpansionPanels>
    </div>
    <div class="mw-flow__workspace"
         style="width: calc(100% - 600px)">
        <MDrawflow OnDrop="@Drop"
                   OnNodeCreated="@NodeCreated"
                   OnNodeRemoved="@NodeRemoved"
                   OnNodeSelected="@NodeSelected"
                   OnNodeUnselected="@NodeUnselected"
                   OnNodeDataChanged="@NodeDataChanged"
                   @ref="_drawflow" />
    </div>
    <div class="mw-flow__sidebar" style="width: 352px;">
        <MTabs @bind-Value="_node" @bind-Value:after="TabChanged">
            <MTab>i18n.node-info</MTab>
            <MTab>i18n.node-debug</MTab>
        </MTabs>
        <MTabsItems Value="_node">
            <MTabItem Transition="">
                <MTreeview Items="_tree"
                           ItemText="t => t.Label"
                           ItemKey="t => t.Key"
                           ItemChildren="t => t.Children"
                           @bind-Active="_treeActives"
                           Activatable
                           Dense
                           OpenAll
                           OpenOnClick>
                    <LabelContent>
                        <ActiveNode Data="@context.Item"
                                    Drawflow="_drawflow" />
                    </LabelContent>
                </MTreeview>
                @if (ActiveTreeNode is not null)
                {
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; height: 30%;">
                        <MDivider />

                        <MCard Flat Class="mw-flow__node-attr">
                            <div class="header">
                                <MIcon Class="rounded mr-1" Dark
                                       Style="@($"background-color: {@ActiveTreeNode.Color}")">
                                    @ActiveTreeNode.Icon
                                </MIcon>
                                @ActiveTreeNode.Label
                                <MSpacer />
                                <MButton Icon OnClick="@(() => OpenHelpDrawer(ActiveTreeNode.Extra["nodeType"]))">
                                    <MIcon>mdi-help-box</MIcon>
                                </MButton>
                            </div>
                            <MDescriptions Column="1" Dense Bordered>
                                <MDescriptionsItem Label="i18n.nodeid">@ActiveTreeNode.Key</MDescriptionsItem>
                                <MDescriptionsItem Label="i18n.type">TODO: type</MDescriptionsItem>
                                <MDescriptionsItem Label="i18n.description">TODO: desc</MDescriptionsItem>
                            </MDescriptions>
                        </MCard>
                    </div>
                }
            </MTabItem>
            <MTabItem Transition="">
                <Debugging @ref="_debugging"></Debugging>
            </MTabItem>
        </MTabsItems>
    </div>
</div>

<PDrawer @bind-Value="_helpDrawer">
    <MMarkdownIt Source="@_helpMarkdown"></MMarkdownIt>
</PDrawer>

<CascadingValue Value="this" IsFixed>
    <ExportDialog @ref="_exportDialog"></ExportDialog>
    <ImportDialog @ref="_importDialog"></ImportDialog>
</CascadingValue>
